/*Now the CSS*/
* {
  margin: 0;
  padding: 0;
  color: #5a6065;
}

h1, h2, h3, h4 {
  color: rgb(163, 35, 61);
}

h1, h2, h3 {
  margin: 1em 0 0.2em 0;

}
h4 {
  margin: 0.7em 0 0.2em 0;
}

body {
  font-family: "Neo Sans W02", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

summary {
  outline: none;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-top: -7px}
  100%  {opacity: 1; margin-top: 0px}
}

.tree ul {
  padding-top: 15px;
  position: relative;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 15px 2.5px 0 2.5px;
}

/*We will use ::before and ::after to draw the connectors*/
.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 15px;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
  padding-top: 0;
}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 15px;
}

.tree {
  min-height: 150px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  border: 1px solid #666;
}

.tree li p, 
.tree li input {
  width: 40px;
  height: 10px;
  border: 1px solid #ccc;
  padding: 5px 0;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 10px;
  display: inline-block;
  text-align: center;
}

.green {
  background-color: rgba(0, 255, 0, 0.2);
}

.red {
  background-color: rgba(255, 0, 0, 0.2);
}

.gray {
  background-color: #ccc;
  
}

.text-with-image {
  display: flex;
  align-items: center;
}

.table-container {
  width: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 0.8em;
}

.center {
  text-align: center;
}

table {
  margin: 1em;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
td {
  padding: 5px;
}
.aufgabe {
  margin: 0.5em 0;
}
.aufgabe > summary {
  background-color: antiquewhite;
  padding: 1em;
}
.aufgabe > div {
  padding: 1em;
}
.ul {
  padding: 0 2em;
}





.slides {
  position: relative;
}

.slide {
  display: none;
  width: 100%;
  min-height: 340px;
  margin-top: 1em;
  border: 1px solid black;
}

.slide-content {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#slide-number {
  position: absolute;
  bottom: 0.5em;
  left: 50%;
}

.slide-button-left {
  position: absolute;
  top: 50%;
  left: 2px;
}

.slide-button-right {
  position: absolute;
  top: 50%;
  right: 2px;
}

img {
  max-width: 800px;
  max-height: 200px;

}

